:root {
    --primary-color: #0a192f;
    --secondary-color: #64ffda;
    --text-color: #ccd6f6;
    --text-secondary: #8892b0;
    --transition: all 0.3s ease;
}
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.95);
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: var(--transition);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: var(--transition);
}

.logo:hover::after {
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem;
    position: relative;
    transition: var(--transition);
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transition: var(--transition);
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.nav-links a:hover::after {
    width: 100%;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
}

.hero {
    padding-top: 6rem;
}

.hero-content {
    max-width: 800px;
}

.pre-title {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.1;
}

.subtitle {
    font-size: 2.5rem;
    color: var(--text-secondary);
    margin-bottom: 2rem;
}

.description {
    font-size: 1.1rem;
    color: var(--text-secondary);
    max-width: 600px;
    margin-bottom: 3rem;
}

.cta-button {
    display: inline-block;
    background-color: transparent;
    color: var (--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    transition: var(--transition);
}

.cta-button:hover {
    background-color: rgba(100, 255, 218, 0.1);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(100, 255, 218, 0.1);
}

.section-title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    position: relative;
}

.section-title::after {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: var(--text-secondary);
    margin-left: 20px;
    opacity: 0.3;
}

.about-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
}

.about-text p {
    margin-bottom: 1.5rem;
    color: var(--text-secondary);
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
}

.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 0.9rem;
    color: var(--text-secondary);
}

.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0;
    color: var(--secondary-color);
}

.profile-pic {
    display: block; /* Asegura que la imagen se comporte como un bloque */
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    position: relative;
    max-width: 300px;
    border-radius: 5px;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
    z-index: 1;
}

.pic-wrapper {
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño de la imagen */
    padding: 0; /* Elimina cualquier padding adicional */
    border: 2px solid #000; /* Ajusta el borde según tus necesidades */
    position: relative;
    width: 300px;
    height: 300px;
    justify-self: center;
}

.pic-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    top: 20px;
    left: 20px;
    z-index: 0;
    transition: var(--transition);
}

.pic-wrapper:hover::after {
    transform: translate(-5px, -5px);
}

.pic-wrapper:hover .profile-pic {
    filter: none;
    transform: translate(-5px, -5px);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: #112240;
    border-radius: 5px;
    padding: 2rem;
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.folder-icon {
    color: var(--secondary-color);
    font-size: 2.5rem;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-links a {
    color: var(--text-color);
    transition: var(--transition);
}

.project-links a:hover {
    color: var(--secondary-color);
}

.project-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.project-description {
    color: var(--text-secondary);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    flex-grow: 1;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.contact {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.contact-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contact-description {
    color: var(--text-secondary);
    margin-bottom: 3rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-links a {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: var(--transition);
}

.social-links a:hover {
    color: var(--secondary-color);
    transform: translateY(-5px);
}

.social-logo {
    width: 44px; /* Ajusta el tamaño según tus necesidades */
    height: 44px; /* Ajusta el tamaño según tus necesidades */
}

footer {
    padding: 2rem 0;
    text-align: center;
    color: var(--text-secondary);
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
    }

    .pic-wrapper {
        margin: 0 auto;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .nav-links {
        gap: 1rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

.delay-1 {
    animation-delay: 0.1s;
}

.delay-2 {
    animation-delay: 0.2s;
}

.delay-3 {
    animation-delay: 0.3s;
}

.delay-4 {
    animation-delay: 0.4s;
}